{% extends "restaurant/base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/restaurant/closeReg.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'css/restaurant/openRestaurant.css' %}"
/>

{% include "restaurant/sidebar.html" %}

<div class="top___nav">
    <div class="restaurant__hamburgerMenu">
      <span class="iconify" data-icon="ci:menu-alt-05"></span>
    </div>
    <div class="open___reg">
      <p class="text-white fs-5 fw-bold">All Table Orders</p>
    </div>
    <div>
        <section class="restaurant__rightNavbar px-2 d-flex justify-content-end">
            <div class="restaurant__productSearchField bg-white d-flex align-items-center">
                <span class="iconify text-muted" data-icon="ant-design:search-outlined"></span>
                <input class="w-100" type="search" placeholder="Search By Category..." >
            </div>
          </section>
    </div>
  </div>

  <div class="main_____table______body table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
              <th scope="col">Customer Name</th>
              <th scope="col">Customer Phone</th>
              <th scope="col">Table</th>
              <th scope="col">status</th>
              <th scope="col">Discount</th>
              <th scope="col">Amount Received</th>
              <th scope="col">Change</th>
              <th scope="col">Total</th>
              <th scope="col">Shop Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a class="w-100 d-flex text-dark" href="#">Goku Islam</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">0101010101</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">Pepsi</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">Active</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">No Discount</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">10000 Taka</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">0 Taka</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">10000 Taka</a></td>
              <td><a class="w-100 d-flex text-dark" href="#">No Name</a></td>
            </tr>
          </tbody>
      </table>
  </div>


  {% endblock %}